/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/back2.jpg');
    background-size: cover;
}
header{
    height: 50px;
    background-color:#f8ae0d;
    /* background-color:#4475ef; */

}
footer{
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #4475ef; */
    background-color:#f8ae0d;

}