<p class="text-white">register works!</p>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center text-white">Sign Up</h1>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center  p-5 " id="regform">
                    <form [formGroup]="registerForm">
                        <input formControlName="uname" type="text" class="form-control mt-3" name="username" id="uname"
                            placeholder="Enter name of A/C Holder ">
                        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                            <p>Include alphabets only</p>
                        </div>
                        <input formControlName="acno" type="text" class="form-control mt-3" name="Accountnum"
                            id="acnumber" placeholder="Enter the account number">
                            <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
                                <p>Include numbers only</p>
                            </div>
                        <input formControlName="pswd" type="password" class="form-control mt-3" name="userpassword"
                            id="upassword" placeholder="Enter the Password">
                            <div *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched">
                                <p>Include charactor or numbers only</p>
                            </div>
                        <!-- <input type="text" class="form-control mt-3" name="userbalnce" id="balance" placeholder="Enter the Balance"> -->
                        <button type="button" (click)="register()" class="btn text-white mt-5"
                            id="btn">Register</button>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>